
:root {
  --animation-speed: 0.5s;
  --animation-delay: 0s;
  --navbarWidth: 25vw;
  --onebar-height: 40px;
  --nontab-bg: #391f21;
 /* --hovertab-bg: #864a4e;
  --activetab-bg: #1b2733;
  --nav-color: #000000;*/
  --margin-left: calc(100vw - var(--navbarWidth));
  --padding-right: calc(101vw - var(--navbarWidth));
  --tabbar-hide: 0.5s;--auto-accent-color: rgb(80, 80, 80); 
}

#nav-bar {
  display: flex;
  flex-wrap: wrap;
  --toolbar-bgcolor: var(--nav-color);
  width: 100vw;
  height: var(--onebar-height);
  position: absolute;
  margin-left: var(--margin-left);
  padding-right: calc(var(--padding-right) - 6.5vw);
  padding-left: 0px;
  margin-top: calc(0px - var(--onebar-height));
  transition: margin-left var(--animation-speed) ease, padding-right var(--animation-speed) ease, padding-left var(--animation-speed) ease;
  z-index:2;
}

#TabsToolbar {
  width: calc(100vw - var(--navbarWidth));
  height: var(--onebar-height);
  order: 1;
  transition: width var(--animation-speed) ease, margin-left var(--animation-speed) ease;
  margin-left: 0px;
  z-index: 1;
}

:root:not([customizing]) #navigator-toolbox:focus-within #TabsToolbar {  
  margin-left: -40px !important;
  transition: margin-left var(--animation-speed) ease !important;
}

:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar {
  margin-left: 0 !important;
  padding-right: 0vw !important;
  padding-left: 0 !important;
  transition: margin-left var(--animation-speed) ease, padding-right var(--animation-speed) ease, padding-left var(--animation-speed) ease !important;
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) #TabsToolbar {
  transition: margin-left var(--tabbar-hide) ease !important;
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) #nav-bar {
  transition: margin-left var(--animation-speed) ease, padding-right var(--animation-speed) ease !important;
}

.titlebar-buttonbox-container {
  margin-right: 0px;
  top: 0 !important;
  right: 0 !important;
  height: var(--onebar-height);
  position: absolute !important;
  opacity: 0%;
  transition: opacity 0.3s ease;
  z-index: 3;
}
.titlebar-spacer {
	display: none !important;
}

#statuspanel #statuspanel-label { display: none !important; } 


#navigator-toolbox:focus-within .titlebar-buttonbox-container {
  margin-right: -150px !important;
}

.titlebar-buttonbox-container:hover {
  opacity: 90% !important;
}

#nav-bar #back-button,
#nav-bar #forward-button {
  display:none !important;
}

#urlbar[focused="true"]:not([usertyping="true"]) > .urlbarView {
  display: none !important;
}

#urlbar[breakout][breakout-extend] {
  top: calc((var(--onebar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
}
#urlbar[breakout] #urlbar-container {
  padding-right: 10px !important;
  border: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  
  padding-left: 10px !important;
  padding-top: 3px !important;
  height: calc(var(--onebar-height) - 10px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  border: none;
  animation-name: none !important;
}

#urlbar-input-container {
  padding-left: 10px !important;
  height: calc(var(--onebar-height) - 10px) !important;
  padding-top: 3px !important;
  align-content: center !important;
}

#tracking-protection-icon-container,
#identity-box,
#page-action-buttons > :not(#urlbar-zoom-button),
#urlbar-go-button,
#alltabs-button {
  display: none;
}



#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
  box-shadow: none !important;
  transition: box-shadow 0.3s ease;
}

#urlbar-input {
  height: 24px !important;
  font-size: 12px !important;
  position: relative;
  align-items: center;
  vertical-align: middle;
}


#urlbar:hover:not([breakout][breakout-extend])>#urlbar-background {
  box-shadow: none !important;

}

#urlbar-results,
#urlbar-background {
  
  border-radius: 8px !important;
  margin: 0 auto;
  display: block;
}

#urlbar-results {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

#urlbar:hover #urlbar-results {
  max-height: 200px;
  transition: max-height 0.5s ease-out;
}

.urlbarView-row {
  display: none !important;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#urlbar:hover .urlbarView-row {
  display: flex !important;
  opacity: 1;
  transform: translateY(0);
}

.urlbarView-url {
  color: rgb(0, 195, 255) !important;
}

#urlbar {
  -moz-binding: url("bindings.xml#urlbar") !important;
}


/*  --------------------------------------- Rounded corner in pages --------------------------------------- */
.browserStack>browser{
    margin: 4px 4px 4px 4px !important; 
    border-radius: 10px !important;
    background-color: black;
    
}
 

#TabsToolbar {
    margin: 3px 4px 0px 4px !important;
    border-radius: var(--general-border-radius) !important;
    background-color: var(--auto-general-color) !important;

}
/* Nav-bar */
.browser-toolbar:not(.titlebar-color) {
  
    border-radius: var(--general-border-radius) !important;
    background-color: transparent !important;
    box-shadow: 20px;
}



.tab-background,
.tab-loading-burst {
  border-radius: 10px !important;
}

#tabs-newtab-button,
#new-tab-button {
  transition: .3s;
  color: transparent;
  fill: FieldText;
  background: none;
  opacity: 30%;
  padding-right: 20px !important;
  padding-left: 4px !important;
  -moz-window-dragging: var(--WindowDraggingFromNewtabButton);
}

#tabs-newtab-button:hover,
#new-tab-button:hover {
  transition: .3s;
  color: transparent;
  fill: FieldText;
  opacity: 100%;
  padding-right: 20px !important;
  background: none;
  padding-left: 4px !important;
  -moz-window-dragging: var(--WindowDraggingFromNewtabButton);
}

#tabs-newtab-button > .toolbarbutton-icon,
#new-tab-button > .toolbarbutton-icon {
  background: none !important;
}

.tabbrowser-tab:not([pinned]):not([selected]) .tab-icon-text,
.bookmark-item .toolbarbutton-icon {

  opacity: 0 !important;
  transition: .15s !important;
  width: 0 !important;
  padding-left: 16px !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-text,
.bookmark-item:hover .toolbarbutton-icon {

  opacity: 100 !important;
  transition: .15s !important;
  display: inline-block !important;
  width: 16px !important;
  padding-left: 0 !important;
}

.tabbrowser-tab:not([hover]) .tab-icon-text,
.bookmark-item:not([hover]) .toolbarbutton-icon {
  padding-left: 0 !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
  opacity: 0%;
  transition: .3s !important;
  display: -moz-box !important;
}

.tab-close-button[selected]:not(:hover) {
  opacity: 45% !important;
  transition: .3s !important;
  display: -moz-box !important;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 50%;
  transition: .3s !important;
  background: none !important;
  cursor: pointer;
  display: -moz-box !important;
}

.tab-close-button:hover {
  opacity: 100% !important;
  transition: .3s !important;
  background: none !important;
  cursor: pointer;
  display: -moz-box !important;
}

.tab-close-button[selected]:hover {
  opacity: 100% !important;
  transition: .3s !important;
  background: none !important;
  cursor: pointer;
  display: -moz-box !important;
}

#tabbrowser-tabs .tabbrowser-tab:not([pinned="true"]):not([visuallyselected="true"]):not([multiselected]) {
  max-width: 40px !important;
  min-width: 40px !important;
  overflow: hidden;
  transition: ease-out var(--animation-speed)!important;
  transition-delay: var(--animation-delay) !important;
}

#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]):not([visuallyselected="true"]) {
  max-width: 12vw !important;
  transition: ease-out var(--animation-speed)!important;
  transition-delay: 0.5s !important;
}
#tabbrowser-tabs .tabbrowser-tab:not(:hover):not([selected]):not([visuallyselected="true"]) {
  max-width: 40px !important; 
  transition: ease-out var(--animation-speed)!important;
  transition-delay: 0.5s !important;
}


#tabbrowser-tabs .tabbrowser-tab[selected] {
  max-width: 16vw !important;
  transition: ease-out var(--animation-speed)!important;
  transition-delay: var(--animation-delay) !important;
}

tab:not(:active) .tab-background {
  transition: background-color var(--animation-speed) !important;
}

:root:not([customizing]) :hover > .tabbrowser-tab:not(:hover) {
  transition: blur, ease .5s !important;
}

:root:not([customizing]) :not(:hover) > .tabbrowser-tab {
  transition: blur, ease .5s !important;
}

#tabbrowser-tabs .tab-label-container[customizing] {
  color: transparent;
  transition: ease .5s;
  transition-delay: 3s;
}

:root[uidensity='compact'] {
  --tab-min-height: 30px !important;
}



 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>
   .tabbrowser-tab[first-visible-unpinned-tab] {margin-inline-start: 0!important}
